<!-- <div class=" bg-light "> -->
  <div class="wrapper d-flex align-items-stretch">
    <!-- <app-menu-list></app-menu-list> 
    eager loading component for shared module
    -->
    <app-sidebar></app-sidebar>
    <div id="content" class="p-3 pl-4 pt-3"  >
      <!--the content for template to bind here   -->
        <router-outlet></router-outlet>  
     <!-- <app-angular-home></app-angular-home> -->
      <!-- <hr>
      <h1>This is a starter tempalte </h1>

      Sidebar #02 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
      amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
    </div>
    <div class="right-aside">
      
    </div>
  </div>