.hello{
    color:red;
}

.list-group{
    width: 60%;
    align-content: center;
}
.list-group>li:hover{
    background-color: lightcyan;
}

.bg-lightcyan{
    background-color: lightcyan;
    border-radius: 10px;
    padding: 1rem;
}

.cons-desc{
    border: 2px dotted darkorange;
    margin:1%;
    padding: 1%; 
    background-color: cornsilk;
    color:black;
}

.content-area{
    background-color: lightgray;
    padding: 2%;
    border-radius: 5px;
}
.content-display{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}