
<!--This is my code for template design of content-->
<!-- <div class="concept-wrapper">
  <div class="row pt-1">
    <div class="col-md-2 text-right concept-name">
     <h4> Component</h4>
    </div>
    <div class="col-md-10 concept-def">
      <b>Defination:</b>
      <br>
      <p>
        This is Typescript Class. which holdes data and View Together.
      </p>
    </div>
  </div>
</div>
<div class="concept-points">
<blockquote>
  <ul *ngFor="let point of conceptDescArr">
    <li> {{ point }}</li>
  </ul>  
</blockquote>
</div>

<div class="description-wrapper">

<!-- <div class="code-wrapper">
  <pre>
   <code #codeContainer>
     <div>{{ codeStr }}</div>
   </code>
</pre>
</div> ->




</div> -->

<div class="code-wrapper">
  <pre>
   <code #codeContainer>
     <div>{{ codeStr }}</div>
   </code>
</pre>
</div>

<!-- <div class="code-wrapper">
  <pre>
   <code #codeContainer>
     <div>{{ codeStr }}</div>
   </code>
</pre>
</div>

<div class="code-wrapper">
  <pre>
   <code #codeContainer>
     <div>{{ codeStr }}</div>
   </code>
</pre>
</div> -->
